body{

  height:100%;

  width:100%;

  margin:0;

  padding:0;

}

.back-but, .clear-all{

  border-radius:2vw;

  border-color:black;

  border-width:0.3vw;

  border-style:solid;

  color:white;

  background-color:grey;

  width:20vw;

  height:10vh;

  font-size:3cqw;

  margin-left:1vw;

}

.clear-all {

  margin-left:20vw;

}

.back-but:hover {

  opacity:0.7;

  cursor:pointer;

}

.clear-all:hover {

  background-color:red;

  cursor:pointer;

}

.head {

  position:fixed;

  top:0;

  right:0;

  left:0;

  z-index:1000;

  background-color:rgb(66, 66, 66);

  height:12vh;

  display:flex;

  align-items:center;

  flex-direction:row;

  border-width:0 0 0.3vw 0;

  border-color:black;

  border-style:solid;

}

.linie {

  background-color:rgb(0, 0, 0);

  height:0.3vh;

  width:100%;

  position:relative;

  display:flex;

  align-items:center;

  overflow-wrap:anywhere;

  gap:2vw;

  margin-bottom:5vh;

}

.ore {

  height:320vh;

  width:100vw;

  margin:15vh 0 0 0;

  padding:0;

  background-color:rgb(255, 255, 255);

  display:flex;

  flex-direction:column;

  justify-content:space-around;

  align-items:center;

}

.linie-sep {
  position:fixed;

  height:350%;

  width:0.5vw;

  background-color:black;
}

.tr, .tr1 {

  font-size:2.5cqw;

  background-color:grey;

  border-color:black;

  border-style:solid;

  border-width:0.3vw;

  border-radius:5vw;

  padding-left:1vw;

  padding-right:1vw;

  margin-left:1vw;

  min-width:6vw;

}

.tr1 {
  left:50%;
}

.delitem {

  width:13cqw;

  height:8cqw;

  font-size:2cqw;

  background-color:rgb(86, 86, 86);

  border-radius:2vw;

  margin-top:1vh;

  color:white;

  display:flex;

  align-items:center;

  justify-content:center;

  border-color:black;

  border-width:0.3vw;

  border-style:solid;

  flex-shrink:0;

  position:relative;

  margin-left:2vw;

  text-align:center;

}

.delete {

  position:absolute;

  top:0.7vh;

  right:0.7vw;

  width:2vw;

  height:2vw;

  border:none;

  border-radius:2vw;

  background-color:rgb(86, 86, 86);

  font-size:1.5cqw;

}

.delete:hover {

  cursor:pointer;

  background-color:red;

}

.container {

  display:flex;

  flex-direction:row;

  align-items:center;

  gap:0.5vw;

  width:50%;

  overflow-x:auto;

  overflow-y:hidden;

  flex-wrap:nowrap;

  padding-bottom:1vh;

}