body{
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
  width:100vw;
  margin:0;
  padding:0;
  position:fixed;
}
.corp {
  background-color: rgb(40, 40, 40);
  border-radius: 3vw;
  width:40vw;
  height:80vh;
  border: black;
  border-style:solid;
  border-width: 1vw;
  margin-left:20vw;
}
.p-class {
  width:100%;
  height:40%;
  display: flex;
  align-items:center;
  justify-content:center;
}
.input-class {
  width:100%;
  height:30%;
  display:flex;
  justify-content:center;
  align-items:center;
}
.par{
  font-size:5cqw;
  color:white;
}
.txt{
  color:black;
  font-size:2.5cqw;
  background-color:rgb(86, 86, 86);
  border-radius:5px 0 0 5px;
  color:white;
  border-color:black;
  border-width:0.3vw;
  border-style:solid;
}
.but{
  font-size:2.5cqw;
  margin-left:-1px;
  border:none;
  color:white;
  border-radius:0 5px 5px 0;
  background-color:rgb(86, 86, 86);
  border-color:black;
  border-width:0.3vw;
  border-style:solid;
}
.but:hover {
  cursor:pointer;
}
.txt:focus {
  outline: none;
}
.toolbar{
  position:absolute;
  top:0px;
  left:0px;
  bottom:0px;
  width:20vw;
  background-color:rgb(40, 40, 40);
  border-width:0px 1vw 0px 0px;
  border-color:black;
  border-style:solid;
}
.schimb-pagina{
  height:40%;
  width:100%;
  display:flex;
  align-items:center;
  flex-direction:column;
}
.pagina{
  width:17cqw;
  height:7cqw;
  border:none;
  background-color:rgb(86, 86, 86);
  margin-top:2vw;
  font-size:2cqw;
  color:white;
  border-radius:2vw;
  border-color:black;
  border-width:0.3vw;
  border-style:solid;
}
.pagina:hover{
  cursor:pointer;
}
.linie {
  width:100%;
  height:2%;
  background-color:black;
  margin-top:2vw;
  margin-bottom:1vw;
  display:flex;
  align-items:center;
  justify-content:center;
  position:relative;
  z-index:2;
}
.taskuri {
  background-color:rgb(86, 86, 86);
  color:white;
  font-size:2.5cqw;
  border-radius:1.5vw;
  width:50%;
  text-align:center;
  border-color:black;
  border-width:0.3vw;
  border-style:solid;
}
.lista-prov {
  width:100%;
  height:60%;
  display:flex;
  align-items:center;
  flex-direction:column;
  overflow-y: auto;
  direction:rtl;
  padding-bottom:9vh;
  box-sizing: border-box;
  scrollbar-width: thin;
}
.task {
  width:17cqw;
  height:8cqw;
  font-size:2cqw;
  background-color:rgb(86, 86, 86);
  border-radius:2vw;
  margin-top:1vh;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color:black;
  border-width:0.3vw;
  border-style:solid;
  flex-shrink:0;
  position: relative;
  text-align:center;
}
.delete {
  position:absolute;
  top:0.7vh;
  right:0.7vw;
  width:2vw;
  height:2vw;
  border:none;
  border-radius:2vw;
  background-color:rgb(86, 86, 86);
  font-size:1.5cqw;
}
.delete:hover {
  cursor:pointer;
  background-color:red;
}
.date {
  background-color:rgb(86, 86, 86);
  border-radius:2vw;
  width:20vw;
  height:3vw;
  border-color:black;
  border-style:solid;
  border-width:0.3vw;
  font-size:2.25cqw;
  margin-bottom:4vh;
  text-align:center;
}
.time {
  background-color:rgb(86, 86, 86);
  border-radius:2vw;
  width:20vw;
  height:3vw;
  border-color:black;
  border-style:solid;
  border-width:0.3vw;
  font-size:2.5cqw;
  text-align:center;
}
.timedate {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  height:20%;
}